body {

    background: #caf0f8;
}

div {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

div#header {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    padding: 60px;
    background: #00b4d8;
    text-align: center;
    color: white
}

div#main {
    background: #90e0ef;
    padding-bottom: 35%;
    padding-top: 10px;
}

#main p {
    font-size: 24px;
    padding-top: 30px;
}

div#intro {
    margin-top: 45px;
}
