body {

    background: #caf0f8;
}

div {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.navbar li {
    display: inline;
    font-size: 34px;
    margin: 40px;

}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    color: rgb(179, 245, 235);
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background: #49a6d8;
}

div#header {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    padding: 60px;
    background: #00b4d8;
    text-align: center;
    color: white
}

div#main {
    background: #90e0ef;
    padding-bottom: 35%;
    padding-top: 10px;
}

#main p {
    font-size: 24px;
    padding-top: 30px;
}

div#intro {
    margin-top: 45px;
}
